@import "tailwindcss";

@font-face {
  font-family: "Alliance";
  src: url("/fonts/alliance-no-2-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Alliance", serif;
  background: #ffffff;
  color: #000000;
}


html.dark,
body.dark {
  background: #111111;
  color: #ffffff;
}

.dark .card {
  background: #1a1a1a;
  border-color: #333333;
  color: #f1f1f1;
}

html {
  background: #050A1A;
  color: white;
}

body {
  background: #050A1A;
  color: white;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white;
}

a {
  color: #8CB2FF; /* keep links bluish */
}

html,
body {
  background-color: #050a1a;
  color: #ffffff;
}