@import "tailwindcss";

@font-face {
  font-family: "Alliance";
  src: url("/fonts/alliance-no-2-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Alliance", serif;
  background: #ffffff;
  color: #000000;
}


html.dark,
body.dark {
  background: #111111;
  color: #ffffff;
}

.dark .card {
  background: #1a1a1a;
  border-color: #333333;
  color: #f1f1f1;
}

