
/* wierdtext.css */

.text-block {
  margin: 0.2vw;
  max-width: 800px;
  font-family: monospace;
  font-size: clamp(14px, 4vw, 32px);
  color: #fff;
}

.char {
  will-change: transform;
  display: inline-block;
}

.text-block p {
    font-size: inherit;   /* <-- allow Tailwind to control size */
    line-height: inherit; /* optional, smoother scaling */
  }

